<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Welcome to the Airline company</h1>
        <h2>Choose your options</h2>
        <a href="/airport">Airport</a>
        <a href="/airline">Airline company</a>
        <a href="/route">Routes</a>
    </body>
</html>
